{% extends 'base.html.twig' %}

{% block title %}Nouvelle chanson{% endblock %}

{% block body %}
    <div class="bg-gradient-to-r from-blue-900 via-purple-900 to-black min-h-screen py-10">
        <div class="max-w-3xl mx-auto px-6 bg-gradient-to-br from-purple-700 via-pink-700 to-red-700 shadow-lg rounded-lg">
            <h1 class="text-3xl font-bold text-center text-white mb-8">Créer une nouvelle chanson</h1>

            <div class="bg-gray-800 p-8 rounded-lg shadow-lg">
                {{ include('song/_form.html.twig') }}
            </div>

            <div class="mt-8 text-center">
                <a href="{{ path('app_song_index') }}" class="text-blue-500 hover:text-blue-700 text-lg font-semibold">Retour à la liste des chansons</a>
            </div>
        </div>
    </div>
{% endblock %}
